
<script>

$( function() {
  var availableTags =[];
  var people_invited =[];
  $.ajax({
    url:"/all",
    method:"GET",
    success:function(data){
      names=JSON.parse(data)
      for(i=0;i<names.length;i++){
        availableTags[i]=names[i]
      }
      console.log("users:"+ availableTags);
    }
  })
  $( "#friends" ).autocomplete({
    source: availableTags
  });
   $( "#friends" ).on( "blur", function( event, ui ) {

       people_invited.push($(this).val())
//       $.ajax({
//           url:"/add",
//           method:"POST",
//           data:{data:$(this).val()},
//           success:function(data){
//               names=JSON.parse(data)
//              console.log(names);
//           }
//       })
     $("#invitedFriends").append("<div class='col-md-2' style='border:1px solid black; margin:5px;max-height:50px;'><h4 class='friend_invited'>"+$(this).val()+"</h4></div>")
    $("#friends_invited").append("<input type='checkbox' name='friends_invited[]' value="+$(this).val()+" checked>"+$(this).val()+"")
     // dispatcher.trigger 'invite.new',true
   } );

//  $("form").on("submit", function (e) {
////      $.ajax({
////          url:"/invites",
////          method:"POST",
////          data:{invited:JSON.stringify(people_invited)},
////          dataType: "json",
////          success:function(data){
////              invites=JSON.parse(data)
////              console.log("invited users :"+ invites);
////          },
////          error:function (error) {
////              console.log("error")
////          }
////      })
//      e.preventDefault();
//
////      people_invited=people_invited.serializeArray()
//      console.log(JSON.stringify(people_invited))
//      data=$(this).serialize()
//      data+=JSON.stringify(people_invited)
//      console.log(data)
//      $.post($(this).attr("action"),data)
//
//  })
} );

</script>
<%= form_for @order, html: { multipart: true } do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="border-form-div">
  <div class="field">
    <%= f.label :meal %>
    <%= f.text_field :meal %>
  </div>

  <!-- <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div> -->

  <div class="field">
    <%= f.label :group_id %>
    <%= f.collection_select(:group_id, Group.all, :id, :name ) %>

  </div>

  <div class="field">
    <%= f.label :restaurant %>
    <%= f.text_field :restaurant %>
  </div>

  <div class="field ui-widget">
    <label for="friends">Friends</label>
    <input type="text" name="friends" id="friends" value=""> <span>Invited when Blur</span>
  </div>

    <div class="field" id="friends_invited">
      <label for="friends_invited">Friends_Invited</label>

    </div>

  <div class="field">
    <%= f.label :order_image %>
       <%= f.file_field :order_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
<!-- <form class="" action="" method="post">
  <input type="text" id="message" name="body" value="">
  <input type="submit" id="new_invite" name="submit" value="Invite">
</form> -->
