<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @item.order.meal %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item.comment %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order,@item) %> |
<%= link_to 'Back', order_items_path(@order) %>
