<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <%= render '/layouts/nav' %>
  <!-- <% if user_signed_in? %>
  <%= link_to 'logout' ,destroy_user_session_path , method: :delete%>
 <%end %> -->
 <div class="container">
   <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>">
       <%= value %>
     </div>
   <% end %>
 </div>

 <div class="container"><%= yield :top_content %>
 </div>

 <div class="container">
     <h1><%= yield :header %></h1>
   <%= yield %>
 </div>

 <div class="push"></div>

 </div>
  <!---------------------------------------- Test Pusher----------------------------------------------------------------->
  <!--<script src="https://js.pusher.com/4.0/pusher.min.js"></script>-->
  <!--<script>-->
<!--
//      // Enable pusher logging - don't include this in production
//      Pusher.logToConsole = true;
//
//      var pusher = new Pusher('fe81d712cb3fb9c96918', {
//          cluster: 'eu',
//          encrypted: true
//      });
//
//      var channel = pusher.subscribe('my-channel');
//      channel.bind('my-event', function(data) {
//          alert(data.message);
//        var list=document.getElementById("notify_list");
////         Don't forget add here link like in production
//
<!--////            <input id='join' value='Join' type='submit' name='' class='joined btn btn-success ' >-->
       <!--});-->
  <!--</script>-->

  <!--############################################# Production ##########################################################-->
  <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <script>

      // Enable pusher logging - don't include this in production
//      Pusher.logToConsole = true;

      var pusher = new Pusher('1db7b63c27bdfa0130d9', {
          cluster: 'eu',
          encrypted: true
      });
//    Depeloment
//      var pusher = new Pusher('fe81d712cb3fb9c96918', {
//          cluster: 'eu',
//          encrypted: true
//      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function(data) {
          alert(data.message+"  Check Notifications");
        var list=document.getElementById("notify_list");
        var notifyNum=document.getElementById("notifyNum");
          notifyNum.innerText= list.childNodes.length;
            list.innerHTML+="<li class='list-item'><a href='<%= @host %>/orders/"+data.id+"'>"+data.message+"</a></li>";
    });

  </script>
  <!---------------------------------------- Test Pusher ---------------------------------------------------------------->

  <!------------------------------------------------------Items Pusher ------------------------------------------------->
  <script>

      var channelItems = pusher.subscribe('items-channel');
      channelItems.bind('last-items', function(data) {
//          alert('Received my-event with message: ' + data.message.name);
          var newItem=document.getElementById("bodyItemsTable");
          var newRow=document.createElement("tr");

          var td1=document.createElement("td");
          td1.innerText=data.message.name;
          newRow.appendChild(td1);

          var td2=document.createElement("td");
          td2.innerText=data.username;
          newRow.appendChild(td2);

          var td3=document.createElement("td");
          td3.innerText=data.ordermeal;
          newRow.appendChild(td3);

          var td4=document.createElement("td");
          td4.innerText=data.message.amount;
          newRow.appendChild(td4);

          var td5=document.createElement("td");
          td5.innerText=data.message.price;
          newRow.appendChild(td5);

          var td6=document.createElement("td");
          td6.innerText=data.message.comment;
          newRow.appendChild(td6);

          newItem.appendChild(newRow);


      });
  </script>
  <!------------------------------------------------------End[Items Pusher] -------------------------------------------->
  <!--<script>-->
  <!--
//  $(function (e) {
//      $(".joined").on("click",function (e) {
//          e.preventDefault()
//          data=$(this).attr("name")
//          console.log("joined id ="+data)
//          $.ajax({
//              url: "/join/" + data,
//              method: "GET",
//              success:function (success) {
//                  console.log("success")
//              },
//              error:function (error) {
//                  console.log("error")
//              }
//
//          })
//      })
//  })
-->
  <!--</script>-->
 </body>
 </html>
